button {
    font-size: 1rem;
    padding: 0.5rem 0;
    width: 8rem;
    text-align: center;
    border: 0.1rem solid #2A3D45;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    color: #2A3D45;
    background-color: #BCAC9B;
    border-radius: 0.4rem;
}

button:hover {
    cursor: pointer;
    /* box-shadow: 0 0.4rem 1.4rem 0 rgba(122, 108, 93, 0.5); */
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

 

